<section class="resources">
    <div class="container">
        <div class="row pt-5">
            <div class="col">
                <h1>Resources</h1>
                <p>Powered by
                    <a href="https://github.com/akroma-project/awesome-akroma"><img src="../../../../assets/images/awesome.png" alt=""> </a>
                </p>
            </div>
        </div>

        <div class="row pt-1">
            <div class="col">
                <h3>Official</h3>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://github.com/akroma-project/">GitHub</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://discordapp.com/invite/KWC8wtT">Discord</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://medium.com/akroma">Blog</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://twitter.com/akroma_io/">Twitter</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://docs.akroma.io">Documentation</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://explorer.akroma.io">Explorer</a>
                    </div>
                </div>
                <h3>Design</h3>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="http://bit.ly/akroma-logo">Akroma Logo</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="http://bit.ly/akroma-mobile-wallpapers-01">Akroma Mobile Wallpapers</a>
                    </div>
                </div>
                <h3>Mining</h3>
                <h4 class="pt-2">SOFTWARE</h4>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://aiominer.com/">AIO Miner</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://itunes.apple.com/app/blockwatch/id1265074035">blockwatch</a>
                    </div>
                </div>
                <h4 class="pt-2">CALCULATORS</h4>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://www.wheretomine.io/coins/akroma.html">WhereToMine</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://www.coincalculators.io/coin.aspx?crypto=akroma-mining-calculator">CoinCalculators</a>
                    </div>
                </div>
                <h4 class="pt-2">POOLS</h4>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="http://minerpool.net/pools/akroma/">MINERPOOL</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://2miners.com/">2MINERS</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://akroma.cryptopools.info/#/">CryptoPools</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="http://mining.akroma.org/#/">EtherGrab</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://akroma.bylt.gq/#/">BYLT.GQ</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://clona.ru/">Clona.ru</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <h3>Exchanges</h3>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://app.stex.com/en/trade/pair/BTC/AKA/1D">stex</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://graviex.net/markets/akabtc">graviex</a>
                    </div>
                </div>
                <h3>Masternodes</h3>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://docs.akroma.io/masternodes/operating-systems/installation-on-linux">Official Install Guide</a>
                    </div>
                </div>
                <h3>Storage</h3>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://whopper.io/">Whopper</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://www.ledger.com?r=bbb5ec5b742c">Ledger</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://shop.trezor.io/">Trezor</a>
                    </div>
                </div>
                <h3>Market Information</h3>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://coinlib.io/coin/AKA/Akroma">COINLIB</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://coincodex.com/crypto/akroma">CoinCodex</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://www.cryptocompare.com/coins/aka/overview">CryptoCompare</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://www.livecoinwatch.com/price/Akroma-AKA">LiveCoinWatch</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://www.worldcoinindex.com/coin/akroma">WorldCoinIndex</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <h3>Software</h3>
                <h4 class="pt-2">Wallets</h4>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://w.akroma.io">Web</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://github.com/akroma-project/akroma-wallet-desktop/releases">Desktop</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://play.google.com/store/apps/details?id=com.wallet.crypto.akroma&hl=en_US">Android</a>
                    </div>
                </div>
                <h4 class="pt-2">Portfolio</h4>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://getdelta.io/">Delta</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://www.blockfolio.com/">Blockfolio</a>
                    </div>
                </div>
                <h4 class="pt-2">Masternode Monitoring</h4>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://mycryptostats.com/">My Crypto Stats</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://github.com/p-s-dev/akroma-sweep">Akroma-sweep</a>
                    </div>
                </div>
                <h4 class="pt-2">Markets/News</h4>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://itunes.apple.com/us/app/hodl-real-time-cryptocurrency/id1253668876?mt=8">hodl</a>
                    </div>
                </div>
                <h3>Develop With Akroma</h3>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://docs.akroma.io/using-akroma/akroma-geth-rpc-api">API Documentation</a>
                    </div>
                </div>
                <div class="row op pt-3 pb-3 mb-1 mr-1">
                    <div class="col">
                        <a href="https://akroma.io/docs">Dashboard API Documentation</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-5 pb-5">
            <div class="col text-center">
                &copy; akroma 2017 - 2018
            </div>
        </div>
    </div>
</section>