<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col">
                                <lottie-animation-view [options]="lottie1"></lottie-animation-view>
                            </div>
                            <div class="col">
                                <lottie-animation-view [options]="lottie2"></lottie-animation-view>
                            </div>
                            <div class="col">
                                <lottie-animation-view [options]="lottie3"></lottie-animation-view>
                            </div>
                            <div class="col">
                                <lottie-animation-view [options]="lottie4"></lottie-animation-view>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="title" i18n>COME BUILD WITH AKROMA</div>
            </div>
        </div>
    </div>
</section>
<app-about></app-about>
<app-getting-started></app-getting-started>
<app-balefire></app-balefire>
<app-resources></app-resources>