<section class="balefire">
    <div class="container">
        <div class="row justify-content-around pt-5">
            <div class="col-md-6 text-center">
                <img src="../../../../assets/images/bf-icon.png" alt="">
                <h1 class="title" i18n>BALEFIRE</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div>Akroma’s Balefire masternodes make up what we call the Balefire chain, a side-chain of — what we used to call — Oracles.</div>
                            <div class="row">
                                <div class="col mt-4">
                                    <div class="value">
                                        <img src="../../../../assets/images/bg-no-cost.png" alt="" class="pr-3">
                                        <span class="copy">No Cost to Developers</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="value mt-1">
                                        <img src="../../../../assets/images/bg-access.png" alt="" class="pr-3">
                                        <span class="copy">Access to Web APIs</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="value mt-1">
                                        <img src="../../../../assets/images/bf-random.png" alt="" class="pr-3">
                                        <span class="copy"> Generate Random Numbers</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2">Balefire masternodes are in active development. Follow <a href="https://medium.com/akroma" target="_blank" class="link">our blog</a> for updates and news about Balefire masternodes.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="pb-3">Feed your dApp with data from all of these sources and more:</div>
                            <div class="row">
                                <div class="col">
                                    <div class="source">
                                        <img src="../../../../assets/images/bf-twitter.png" alt="">
                                        <div class="source-title">Twitter</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="source">
                                        <img src="../../../../assets/images/bf-facebook.png" alt="">
                                        <div class="source-title">Facebook</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="source">
                                        <img src="../../../../assets/images/bf-paypal.png" alt="">
                                        <div class="source-title">PayPal</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="source">
                                        <img src="../../../../assets/images/bf-wolfram.png" alt="">
                                        <div class="source-title">Wolfram Alpha</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="source">
                                        <img src="../../../../assets/images/bf-microsoft.png" alt="">
                                        <div class="source-title">Microsoft / Bing</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="source">
                                        <img src="../../../../assets/images/bf-netflix.png" alt="">
                                        <div class="source-title">Netflix</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="source">
                                        <img src="../../../../assets/images/bf-foursquare.png" alt="">
                                        <div class="source-title">Foursquare</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="source">
                                        <img src="../../../../assets/images/bf-ibm.png" alt="">
                                        <div class="source-title">IBM Watson</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="source">
                                        <img src="../../../../assets/images/bf-any.png" alt="">
                                        <div class="source-title">Any Custom API</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>