<footer class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2 class="title" i18n>About</h2>
        <ul>
          <li>
            <a routerLink="/sponsorship" i18n>Sponsorship</a>
          </li>
          <li>
            <a href="https://angel.co/akroma">angel.co/akroma</a>
          </li>
          <li>
            <a href="https://github.com/akroma-project/akroma.io/wiki/privacy-policy" i18n>Privacy Policy</a>
          </li>
          <li>
            <a href="https://github.com/akroma-project/akroma.io/wiki/terms-of-service" i18n>Terms of Service</a>
          </li>
          <li>
            <a href="https://github.com/akroma-project/akroma.io/wiki/Participation-Agreement" i18n>Participation Agreement</a>
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <h2 class="title" i18n>Community</h2>
        <ul>
          <li>
            <a href="https://medium.com/akroma"  i18n>Blog</a>
          </li>
          <li>
            <a href="https://discordapp.com/invite/KWC8wtT" i18n>Discord</a>
          </li>
          <li>
            <a href="https://twitter.com/akroma_io" i18n>Twitter</a>
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <h2 class="title" i18n>Projects</h2>
        <ul>
          <li>
            <a href="https://github.com/akroma-project/akroma" i18n>Akroma Network</a>
          </li>
          <li>
            <a href="https://play.google.com/store/apps/details?id=com.wallet.crypto.akroma&hl=en_US" i18n>Akroma Android Wallet</a>
          </li>
          <li>
            <a href="https://github.com/akroma-project/akroma-wallet-desktop" i18n>Akroma Desktop Wallet</a>
          </li>
          <li>
            <a href="https://github.com/akroma-project/akroma-web-extension" i18n>Akroma Web Extension</a>
          </li>
          <li>
            <a href="#" i18n>Akroma.io Portal</a>
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <h2 class="title" i18n>Resources</h2>
        <ul>
          <li>
            <a href="https://github.com/akroma-project/awesome-akroma" i18n>Awesome Akroma</a>
          </li>
          <li>
            <a href="https://w.akroma.io/" i18n>Web Wallet</a>
          </li>
          <li>
            <a href="https://explorer.akroma.io" i18n>Decentralized Explorer</a>
          </li>
          <li>
            <a href="https://stats.akroma.io" i18n>Network Stats</a>
          </li>
          <li>
            <a href="https://github.com/akroma-project" i18n>GitHub</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>